div {
	border: 2px solid #d6001c;
	border-radius: 10px;
}

#bakgrund {
	background-image: url(img/snow_winter_trees.jpg);
	background-size: cover;
}

#länkar {
	display: flex;
	justify-content: space-around;
	margin: 15px;
	padding: 15px 0;
}

#länkar img {
	height: 50px;
}

#länkar img,
#vänster img {
	border: 2px solid black;
	border-radius: 10px;
	padding: 5px;
}

h1 {
	text-align: center;
	margin: 70px 0;
	font-family: "Mountains of Christmas", cursive;
	font-size: 3rem;
}

#mellan {
	display: flex;
	gap: 10px;
	padding: 5px;
}

#vänster img {
	height: 40px;
}
